@media (max-width: 768px) {
  .div {
    justify-content: center;
    display: grid;
    grid-template-columns: 50px 50px;
    row-gap: 10px;
    column-gap: 20px;
    padding: 30px;
  }
  .div-columns-4 {
    grid-template-columns: repeat(4, 50px);
  }

  .div-columns-6 {
    grid-template-columns: repeat(6, 50px);
  }
  .card-btn {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .div {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 40px);
    row-gap: 5px;
    column-gap: 15px;
    padding: 30px;
  }
  .div-columns-4 {
    grid-template-columns: repeat(4, 40px);
  }

  .div-columns-6 {
    grid-template-columns: repeat(6, 40px);
  }

  .card-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .card-btn--active {
    background-color: green;
  }
}
